<div id="stock-lookup">
  <h3>Buscar Valores de Cotización</h3>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <%= text_field_tag :stock, params[:stock], placeholder: "Símbolo del bono de cotización", autofocus: true,
                                                          class: 'form-control search-box input-lg' %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Buscar Cotización
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'common/spinner' %>
 
  <% if @stock %>
    <div id="stock-lookup-results" class="well results-block">
      <strong>Símbolo:</strong> <%= @stock.ticker %>
      <strong>Nombre:</strong> <%= @stock.name %>
      <strong>Precio:</strong> <%= @stock.price %>

      <% if current_user.can_add_stock?(@stock.ticker) %>

        <%= link_to "Añadir a mi Portafolio", user_stocks_path(user: current_user, stock_ticker: @stock.ticker, 
        stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post %>

      <% else %>

        <br><span class="label label-default">

          No es posible añadir la cotización porqué ya has añadido
          
          <% if !current_user.under_stock_limit? %>
            10 cotizaciones
          <% end %>

          <% if current_user.stock_already_added?(@stock.ticker) %>
            esta cotización
          <% end %>

        </span>

      <% end %>
      


    </div>

    

  <% end %>

  <div class="form-group row no-padding col-md-12">
    <div id="stock-lookup-errors"></div>
  </div>

</div>