<p><%= t('.greeting', recipient: @resource.email, default: "Hola #{@resource.email}!") %></p>

<p><%= t('.instruction', default: 'Alguien ha requerido un enlace para cambiar tu contraseña, y puedes hacerlo a través del enlace que tienes más abajo.') %></p>

<p><%= link_to t('.action', default: 'Cambiar mi contraseña'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', default: "Si no has solicitado esto, por favor ignora este mensaje.") %></p>
<p><%= t('.instruction_3', default: "Tu contraseña no se cambiará hasta que accedas a través del enlace que hay encima y crees una nueva.") %></p>
